{% extends "layout.html" %}

{% block title %}
    <h1>Multitask site selectivity</h1>


    <h2>Introduction</h2>
    <p>This website can be used to make site selectivity preditions for C-H functionalization reactions. The publication describing the model can be found <a href="https://pubs.rsc.org/en/content/articlelanding/2020/RE/D0RE00071J#!divAbstract">here</a></p>

    <h2>Predicting</h2>
    <p>To make site selectivity predictions go to the <a href="{{ url_for('predict') }}">Predict</a> page, paste the SMILES or draw the molecules you would like to make predictions on, and then click "Predict".</p>
    <button onclick=window.location.href="{{url_for('predict')}}">Make Predictions!</button>
   
{% endblock %}
